body {
    background-color: #C0C0C0;
  }
#header {
    background-color: #6dd1b8;
    font-weight:normal;
    text-align:center;
    font-size:60px;
    font-family:titles;
}

h1 {
    font-family:titles;
    font-weight:normal;
    text-align:center;
    font-size:50px;
}

h2 {
    font-size:20px;
    font-family:body;
}

p {
    font-size:24px;
    font-family:checkboxes;
    font-weight:bold;
}
@font-face {
    font-family: titles;
    src: url(BodoniFLF-Bold.ttf) format("truetype");
  }

@font-face {
    font-family: body;
    src: url(BodoniFLF-Roman.ttf) format("truetype");
  }

@font-face {
    font-family: checkboxes;
    src: url(Exclusive-Serif.ttf) format("truetype");
  }

  @font-face {
    font-family: tabs;
    src: url(MerriweatherSans-VariableFont_wght.ttf) format("truetype");
  }

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #6dd1b8;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: tabs;
    font-size: 20px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }


  /* Style the search box inside the navigation bar source: https://www.w3schools.com/howto/howto_css_searchbar.asp*/
#searchBar {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 1300px;
    height: 30px;
    position: relative;
  }

#search {
    position: fixed;
    margin-top: 10px;
    margin-bottom: 15px;
    right: 30px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    background: #016464;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
  }

#advSearch {
    margin-right: 100px;
    float: right;
    position:relative;
    margin-bottom:10px;
}

#advSearchElements {
    background-color:white;
    margin-top: 20px;
    margin-right:auto;
    margin-left: auto;
    width: 40%;
    height:200px;
    padding: 10px;
    display: none;
}

#homeButton {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right:100px;
    margin-left:100px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    background: #016464;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5%;
    border: none;
    text-decoration: none;
    transition: background 0.2;
}

#homeButtonsDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#checkboxes {
    font-family:checkboxes;
    font-size: 20px;
    /* font-weight:bold; */
}
.column {
    float: left;
    width: 25%;
    margin-left:5%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }